<section class="dialog-background" id="name-dialog-background">
	<span class="scol0 mcol2 bcol4"></span>
	<div class="scol12 mcol8 bcol4 dialog" id="name-dialog">
		<div class="scol12 dialog-title">
			<span class="scol1"></span>
			<span class="scol10">Dialog's title</span>
			<span class="scol1 dialog-close-button icon-close" onclick="close_dialog('name')"></span>
		</div>

		<div class="scol12 dialog-body">
			All the elements of your dialog
		</div>
	</div>
</section>

<!--
	Replace the word "name" by the name of your dialog.
	You can put an icon related to your dialog in the 1st span of the dialog-title div.
-->
