<!-- This code depends on grid.css, icons.css dropdown.css and dropdown.js
     The code inside the script tag shows how to populate the dropdown using js.

     Remember to name the html elements and the js object in the following way:
        ~ topic + "_dropdown" for js object and html element where the selected
          option will be displayed.
        ~ topic + "-dropdown-content" for the html element where the options will
          be inserted. -->

<div class="scol12 dropdown-container">
    <button onclick="scol my_dropdown.show_content()">
        <span class="scol1"></span>
        <span class="scol10" id="my-dropdown"></span>
        <span class="scol1 icon-down"></span>
    </button>
    <div class="scol12 dropdown-content" id="my-dropdown-content"></div>
</div>

<script>
    /// see dropdown.js for api reference
    var my_dropdown = new Dropdown("my");
    my_dropdown.add_option("Watermelon");
    my_dropdown.add_option("Mangoe");
    my_dropdown.add_option("Apple");
    my_dropdown.add_editable_option("Add your favorite fruit ;)");
</script>
