<!-- Toggle button -->
<button class="scol12 toggle-button" id="my-toggle-button" onclick="my_toggle_button.toggle()">
		<span>Option</span>
		<span class="toggle-button-icon icon-toggle-off"></span>
</button>

<script>
	var my_toggle_button = new ToggleButton("my");
</script>
