.fade-in
{
    animation-name: fade-in-animation;
    animation-duration: 0.5s;
}

.fade-out
{
    animation-name: fade-in-animation;
    animation-duration: 0.5s;
    animation-direction: reverse;
}

@keyframes fade-in-animation
{
    from { opacity: 1; }
    to { opacity: 0; }
}

@-webkit-keyframes fade-in-animation
{
    from { opacity: 1; }
    to { opacity: 0; }
}
