.calendar-header
{
	text-align: center;
	font-size: 120%;
	border-radius: 3px 3px 0px 0px;
	color: #444;
	background-color: white;
	font-weight: bold;
}

.calendar-header * { padding: 2.5%; }

.calendar-header-clickable-item
{
	transition: 0.4s;
	border-radius: inherit;
}

.calendar-header-clickable-item:hover
{
	cursor: pointer;
	background-color: #f0f0f0;
}

/* Monthly calendar */
#monthly-calendar-body
{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid transparent;
}

.days-of-the-week
{
	width: 14.28%;
    text-align: center;
	color: #444;
	border: 1px solid white;
	background-color: white;
}

.days-of-the-week *, .week *
{
	padding: 1%;
	font-weight: 400;
	text-align: center;
}

.week *
{
	border-top: 3px solid white;
	transition: 0.4s;
	height: 50px;
}

.disabled-day
{
	border-top-color: gray;
	background-color: #f7f7f7;
}

.current-day
{
	border-top-color: #0bb7f1;
	background-color: #ecf9fe;
	cursor: pointer;
}

.current-day:hover { background-color: #e1f4fb; }

.high-availability
{
	border-top-color: #a2fe93;
	background-color: #fcfcfc;
	cursor: pointer;
}

.high-availability:hover { background-color: #e8fee7; }

.medium-availability
{
	border-top-color: orange;
	background-color: #fff9ee;
	cursor: pointer;
}

.medium-availability:hover { background-color: #faf0e3; }

.low-availability
{
	border-top-color: red;
	background-color: #fef5f5;
	cursor: pointer;
}

.low-availability:hover { background-color: #f9ebeb; }

.day-selected-schedules
{
	color: red;
}

/* Daily calenar */
#daily-planner-body
{
	border-radius: 0px 0px 3px 3px;
	overflow-y: scroll;
	max-height: 45vh;
}

#daily-planner-body * { padding: 0.5%; }

.daily-planner-schedule
{
	text-align: center;
	border-left: 5px solid white;
	-moz-user-select: none;
	-webkit-user-select: none;
	transition: 0.6s;
}

.daily-planner-schedule:last-child
{
	border-bottom: 0px solid white;
}

.booked-schedule
{
	color: red;
	border-color: red;
	cursor: pointer;
	transition: 0.4s;
}

.available-schedule
{
	color: #0f9ccc;
	border-color: #0bb7f1;
	cursor: pointer;
}

.available-schedule:hover { background-color: #ecfbff; }

.unavailable-schedule
{
	color: #222428;
	border-color: #222428;
}

.selected-schedule
{
	color: #13b600;
	border-color: #32d11f;
	cursor: pointer;
}

.selected-schedule:hover { background-color: #e8fccf; }

.selected-schedule-by-another
{
	color: #2e7d32;
	border-color: #2e7d32;
}

@media only screen and (min-width: 768px)
{
	#daily-planner-body * { padding: 0.5%; }
	.daily-planner-schedule { border-left-width: 3px; }
}
