/* The main font */
@font-face
{
	font-family: 'Raleway';
	src: url('../../assets/fonts/Raleway/Raleway-Regular.ttf');
}

/* Body */
body
{
	margin: 0;
	padding: 0;
	font-family: Raleway;
}

/* Headers */
h1, h2, h3, h4, h5, h6
{
	text-align: center;
	font-weight: 400;
}

h1 { font-size: 200%; }

/* Images */
img
{
	max-width: 100%;
	height: auto;
}

/* report-issue-section */

#report-issue-section
{
	margin-top: 30px;
	border-top: 1px solid #ddd;
	padding: 1.5% 5%;
	text-align: center;
	color: #555;
	display: none;
}

/* So general classes */
.hidden { display: none; }

.separator
{
	border-color: #ddd;
	border-width: 1px;
	margin-top: 2%;
	margin-bottom: 2%;
}

.separated-item { margin-top: 10px; }

.light-gray-big-text
{
	color: #aaa;
	font-size: 130%;
}

.scroll-area
{
	overflow-y: auto;
	max-height: 30vh;
}

.clickable
{
	cursor: pointer;
	transition: 0.4s;
}

.special-section
{
	background-color: #f3f3f3;
	padding: 10px;
}

.comment
{
	color: #777;
	text-align: justify;
	font-style: italic;
	font-size: 90%;
}

/* Big screens */
@media only screen and (min-width: 768px)
{
	.light-gray-big-text { font-size: 150%; }
	.separated-item { margin-top: 10px; }
}
