/* Dialog container */
.dialog-background
{
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
	overflow: auto;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.75);
	overflow-y: auto;
	z-index: 5;
}

.dialog
{
	position: relative;
	background-color: white;
	border-radius: 3px;
	margin-top: 12%;
	-webkit-animation: zoom-in 0.7s ease;
	animation: zoom-in 0.7s ease;
}

/* Dialog title */
.dialog-title
{
	text-align: center;
	color: #4b453c;
	font-size: 130%;
}

.dialog-title *
{
	padding: 1%;
	padding-bottom: 0.5%;
}

.dialog-close-button
{
	border-radius: 0px 3px 3px 0px;
	transition: 0.4s ease;
}

.dialog-close-button:hover
{
	cursor: pointer;
	background-color: #d1d0d0;
}

/* Dialog body */
.dialog-body
{
	padding-left: 8%;
	padding-top: 2%;
	padding-right: 8%;
	padding-bottom: 3%;
}

/* Dialog animations */
.hide-dialog
{
	-webkit-animation: zoom-out 0.7s ease;
	animation-name: zoom-out 0.7s ease;
}

@-webkit-keyframes zoom-in
{
	from { transform: scale(0); }
	to   { transform: scale(1); }
}

@keyframes zoom-in
{
	from { transform: scale(0); }
	to   { transform: scale(1); }
}

@-webkit-keyframes zoom-out
{
	from {  transform: scale(1);  }
	to {  transform: scale(0);  }
}

@keyframes zoom-out
{
	from {  transform: scale(1);  }
	to {  transform: scale(0);  }
}
