.dropdown-container { position: relative; }

.dropdown-content
{
    display: none;
    position: absolute;
	background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    animation: fade 0.4s;
	overflow-y: auto;
	max-height: 40vh;
}

.dropdown-element, .dropdown-selected-element
{
    color: black;
    padding: 7px 11px;
    display: block;
    transition: 0.3s ease;
	border-left: 4px solid transparent;
	color: #777;
}

.dropdown-element:hover, .dropdown-selected-element
{
	border-left-color: #2196F3;;
    color: black;
    cursor: pointer;
}

.dropdown-element-edit-button
{
    font-size: 150%;
    margin-top: 1.5%;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    transition: 0.3s ease;
    color: #999;
}

.dropdown-element-edit-button:hover {  color: #222;  }

@media only screen and (min-width: 768px)
{
    .dropdown-element, .dropdown-selected-element { padding: 12px 16px; }
}
