.equipment-distribution
{
	padding: 1%;
	margin: 1%;
}

.equipment-distribution:hover
{
	cursor: pointer;
	background-color: #d1d0d0;
}

.distribution-image { background-color: white; }

.event-image-dialog-image-container
{
	max-width: 100;
	padding: 5px 5px 2px 5px;
	margin: auto;
	background-color: white;
	transition: 0.4s;
}

.event-image-dialog-image-container:hover
{
	background-color: #aaa;
	cursor: pointer;
}

.event-header-change-background-button
{
	position: absolute;
	top: 20px;
	right: 20px;
	font-weight: 400;
	font-size: 20px;
}
