.event-header { position: relative; }

.event-header-event-schedules
{
	position: absolute;
	bottom: 30px;
	background-color: #207cdd;
	color: white;
	overflow-y: auto;
	max-height: 70px;
	padding: 10px;
}
