* { box-sizing: border-box; }

img
{
	max-width: 100%;
	height: auto;
}

/* Row class. Can contain columns */
.row::after
{
    content: "";
    clear: both;
    display: block;
}

[class*="col"]
{
	float: left;
	border: 1px transparent solid;
}

/* Small columns for phones */
.scol0 { width: 0; }
.scol1 { width: 8.33%; }
.scol2 { width: 16.66%; }
.scol3 { width: 25%; }
.scol4 { width: 33.33%; }
.scol5 { width: 41.66%; }
.scol6 { width: 50%; }
.scol7 { width: 58.33%; }
.scol8 { width: 66.66%; }
.scol9 { width: 75%; }
.scol10 { width: 83.33%; }
.scol11 { width: 91.66%; }
.scol12 { width: 100%; }

/* Medium columns for tables, etc. */
@media only screen and (min-width: 420px)
{
	.mcol0 { width: 0; }
	.mcol1 { width: 8.33%; }
	.mcol2 { width: 16.66%; }
	.mcol3 { width: 25%; }
	.mcol4 { width: 33.33%; }
	.mcol5 { width: 41.66%; }
	.mcol6 { width: 50%; }
	.mcol7 { width: 58.33%; }
	.mcol8 { width: 66.66%; }
	.mcol9 { width: 75%; }
	.mcol10 { width: 83.33%; }
	.mcol11 { width: 91.66%; }
	.mcol12 { width: 100%; }
}

/* Big columns for desktop */
@media only screen and (min-width: 768px)
{
	.bcol0 { width: 0; }
	.bcol1 { width: 8.33%; }
	.bcol1-5 { width: 12.49%; }
	.bcol2 { width: 16.66%; }
	.bcol3 { width: 25%; }
	.bcol4 { width: 33.33%; }
	.bcol5 { width: 41.66%; }
	.bcol6 { width: 50%; }
	.bcol7 { width: 58.33%; }
	.bcol8 { width: 66.66%; }
	.bcol9 { width: 75%; }
	.bcol10 { width: 83.33%; }
	.bcol11 { width: 91.66%; }
	.bcol12 { width: 100%; }
}
