@font-face
{
	font-family: 'rafa-pina-web-font';
	src: url('../../assets/fonts/rafa-pina-web-font.ttf');
}

.icon-accept::before
{
	font-family: rafa-pina-web-font;
	content: 'O';
}

.icon-add::before
{
	font-family: rafa-pina-web-font;
	content: 'a';
}

.icon-add-user::before
{
	font-family: rafa-pina-web-font;
	content: 'A';
}

.icon-bar-graph::before
{
	font-family: rafa-pina-web-font;
	content: 'g';
}

.icon-bike::before
{
	font-family: rafa-pina-web-font;
	content: 'b';
}

.icon-cancel::before
{
	font-family: rafa-pina-web-font;
	content: 'D';
}

.icon-calendar::before
{
	font-family: rafa-pina-web-font;
	content: 'C';
}

.icon-camera::before
{
	font-family: rafa-pina-web-font;
	content: 'P';
}

.icon-checkbox-off::before
{
	font-family: rafa-pina-web-font;
	content: 'j';
}

.icon-checkbox-on::before
{
	font-family: rafa-pina-web-font;
	content: 'v';
}

.icon-circle-graph::before
{
	font-family: rafa-pina-web-font;
	content: 'G';
}

.icon-clock::before
{
	font-family: rafa-pina-web-font;
	content: 'R';
}

.icon-close::before
{
	font-family: rafa-pina-web-font;
	content: 'c';
}

.icon-dev::before
{
	font-family: rafa-pina-web-font;
	content: 'w';
}

.icon-down::before
{
	font-family: rafa-pina-web-font;
	content: 'd';
}

.icon-edit::before
{
	font-family: rafa-pina-web-font;
	content: 'p';
}

.icon-eye::before
{
	font-family: rafa-pina-web-font;
	content: 'e';
}

.icon-home::before
{
	font-family: rafa-pina-web-font;
	content: 'h';
}

.icon-info::before
{
	font-family: rafa-pina-web-font;
	content: 'I';
}

.icon-layout::before
{
	font-family: rafa-pina-web-font;
	content: 'f';
}

.icon-left::before
{
	font-family: rafa-pina-web-font;
	content: 'l';
}

.icon-lock::before
{
	font-family: rafa-pina-web-font;
	content: 'L';
}

.icon-log-in::before
{
	font-family: rafa-pina-web-font;
	content: 'i';
}

.icon-log-out::before
{
	font-family: rafa-pina-web-font;
	content: 'o';
}

.icon-menu::before
{
	font-family: rafa-pina-web-font;
	content: 'm';
}

.icon-notification::before
{
	font-family: rafa-pina-web-font;
	content: 'n';
	font-weight: bold;
}

.icon-question-mark:before
{
	font-family: rafa-pina-web-font;
	content: 'q';
}

.icon-report-issue::before
{
	font-family: rafa-pina-web-font;
	content: 'x';
}

.icon-right::before
{
	font-family: rafa-pina-web-font;
	content: 'r';
}

.icon-search::before
{
	font-family: rafa-pina-web-font;
	content: 's';
}

.icon-target::before
{
	font-family: rafa-pina-web-font;
	content: 'T';
}

.icon-toggle-off::before
{
	font-family: rafa-pina-web-font;
	content: '0';
	vertical-align: sub;
}

.icon-toggle-on::before
{
	font-family: rafa-pina-web-font;
	content: '1';
	vertical-align: sub;
}

.icon-trash::before
{
	font-family: rafa-pina-web-font;
	content: 't';
}

.icon-up::before
{
	font-family: rafa-pina-web-font;
	content: 'u';
}

.icon-upload::before
{
	font-family: rafa-pina-web-font;
	content: 'k';
}

.icon-user::before
{
	font-family: rafa-pina-web-font;
	content: 'U';
}

.icon-users::before
{
	font-family: rafa-pina-web-font;
	content: 'M';
}
