/* Left menu containter and its animations */
#left-menu
{
	position: relative;
	border-style: none;
	background-color: white;
	height: 100vh;
	-webkit-animation: left-menu-in-animation 0.5s;
	animation: left-menu-in-animation 0.5s;
}

#left-menu.hide
{
	-webkit-animation: left-menu-out-animation 0.5s;
	animation: left-menu-out-animation 0.5s;
}

@-webkit-keyframes left-menu-in-animation
{
	from {  left: -300px;  opacity: 0;  }
	to   {  left: 0px;      opacity: 1;  }
}

@keyframes left-menu-in-animation
{
	from {  left: -300px;  opacity: 0;  }
	to   {  left: 0%;      opacity: 1;  }
}

@-webkit-keyframes left-menu-out-animation
{
	from {  left: 0%;      opacity: 1;  }
	to   {  left: -300px;  opacity: 0;  }
}

@keyframes left-menu-out-animation
{
	from {  left: 0%;      opacity: 1;  }
	to   {  left: -300px;  opacity: 0;  }
}

/* Left menu items */
.left-menu-item, .left-menu-item-selected
{
	padding: 3%;
	transition: 0.4s ease;
	background-color: white;
	color: #555753;
	font-size: 120%;
}

.left-menu-item:hover, .left-menu-item-selected
{
	background-color: #eee;
	cursor: pointer;
}

.left-menu-icon { text-align: center; }

.left-menu-close-area { height: 100vh; }

.left-menu-separator
{
	border-color: #ccc;
	margin-top: 1%;
	margin-bottom: 1%;
}
