#nav-bar-desktop, #nav-bar-mobile
{
	color: white;
	font-size: 140%;
	text-align: center;

	top: 0;
	left: 0;
	width: 100%;

	display: none;
	z-index: 1;
	background-color: #204a87;
}

#nav-bar-mobile { display: block; }

.nav-bar-item, .nav-bar-clickable-item
{
	padding: 1%;
	background-color: #204a87;
	transition: 0.4s ease;
}

.nav-bar-clickable-item:hover
{
	cursor: pointer;
	background-color: #3b84ba;
}

/* Big screens */
@media only screen and (min-width: 768px)
{
	#nav-bar-mobile { display: none; }
	#nav-bar-desktop { display: block; }
}
