#reports-type-menu
{
	border-width: 0;
	background-color: #f4f4f4;
	border-right-color: #ccc;
	color: #333;
	height: 91vh;
}

.reports-section
{
	padding-top: 5px;
	padding: 3%;
}

.reports-separator { border-bottom: 1px #bbb solid;}

.report-type, .selected-report-type, .reports-menu-item
{
	padding: 4%;
	transition: 0.4s;
}

.report-type:hover, .selected-report-type
{
	background-color: white;
	cursor: pointer;
	border-right: 1px #216edd solid;
}

main { padding: 2% 5%; }
