.table-container
{
	overflow: auto;
	max-height: 80vh;
}

table
{
	border-collapse: collapse;
	max-height: 80vh;
}

tr:nth-child(even) { background-color: #f4f4f4; }

td, th
{
	text-align: center;
	background-color: inherit;
	padding: 2%;
	min-width: 240px;
}

th
{
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.clickable-header { transition: 0.4s; }

.clickable-header:hover
{
	cursor: pointer;
	background-color: #f8f8f8;
}
