.tab, .active-tab
{
	background-color: #fafafa;
	color: #bbb;
	transition: 0.4s ease;
	cursor: pointer;
	text-align: center;
	font-size: 130%;
	padding: 1.5%;

	border-width: 0px;
	border-top: 1px;
	border-bottom: 2px;
	border-style: solid;
	border-color: lightgray;
}

.tab:hover { color: #333; }

.active-tab
{
	color: #333;
	border-bottom-color: #f63b3b;
}

.tab:first-child, .active-tab:first-child
{
	border-left: 1px solid lightgray;
	border-top-left-radius: 4px;
}

.tab:last-child, .active-tab:last-child, .last-tab
{
	border-right: 1px solid lightgray;
	border-top-right-radius: 4px;
}

/* Tab content */
.tab-content
{
	padding-top: 10px;
	background-color: #f8f8f8;
	padding-bottom: 30px;
}
