.zebra-row, .zebra-row-clickable
{
	padding: 2%;
	color: #444;
	font-size: 110%;
}

.zebra-row-clickable
{
	cursor: pointer;
	transition: 0.3s;
}

.zebra-row:nth-child(even), .zebra-row-clickable:nth-child(even) { background-color: #f2f2f2; }

.zebra-row-close-button
{
	text-align: center;
	font-size: 100%;
	transition: 0.4s;
}

.zebra-row-close-button:hover { cursor: pointer; }

.zebra-row:nth-child(even) .zebra-row-close-button:hover,
.zebra-row-clickable:nth-child(even):hover { background-color: white; }

.zebra-row:nth-child(odd) .zebra-row-close-button:hover,
.zebra-row-clickable:nth-child(odd):hover { background-color: #f2f2f2; }
